<!-- views/index.html -->

<!DOCTYPE html>
<html lang="en" ng-app="eccy_app">





<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>andyfeng.portfolio</title>

    <!-- styles -->
    <link rel='stylesheet' href='static/css/reset.css'>
    <link rel='stylesheet' href='static/css/index.css'>
    <link rel='stylesheet' href='static/css/bw.css'>
    <link rel='stylesheet' href='static/css/mobile.css'>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit:100,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,900,500,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>


    <!--NOTO FONT-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">


    <!-- FAVICON -->
    <link rel="shortcut icon" href="static/img/fav.png">

    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="static/js/ngclipboard.min.js"></script>
    <script src="static/js/angular-scroll.min.js"></script>
    <script src="static/js/app.js"></script>
</head>




<body ng-controller="mainController" ng-cloak>


    <div class="top-wrapper">
        <div class="header-bar" ng-class="{'header-bar-shift': where == 'bottom'}">

            <div class="links" ng-class="{'links-shift': where == 'bottom'}">
                <div class="link-text" ng-class="{'link-text-show': hvrIN}"><p>https://www.linkedin.com/in/andy-feng-64563035</p></div>
                <div class="link-text" ng-class="{'link-text-show': hvrINST}"><p>https://www.instagram.com/peachteaboba</p></div>
                <div class="link-text" ng-class="{'link-text-show': hvrGIT}"><p>https://github.com/peachteaboba</p></div>


                <div class="in-wrapper" ng-click="linkedIn()"
                     ng-mouseenter="hvrIN = true"
                     ng-mouseleave="hvrIN = false">
                    <img class="in-img left-img" src="static/img/in.png">

                    <img class="eye-icon-contact cmd-in" src="static/img/eye.png">
                    <h1 class="contacts-metrics-data cmd-in" ng-bind="metrics[0].linkedIn"></h1>
                </div>
                <div class="in-wrapper" ng-click="gitHub()"
                     ng-mouseenter="hvrGIT = true"
                     ng-mouseleave="hvrGIT = false">
                    <img class="in-img" src="static/img/gh.png">
                    <img class="eye-icon-contact cmd-git" src="static/img/eye.png">
                    <h1 class="contacts-metrics-data cmd-git" ng-bind="metrics[0].gitHub"></h1>
                </div>
                <div class="in-wrapper" ng-click="inst()"
                     ng-mouseenter="hvrINST = true"
                     ng-mouseleave="hvrINST = false">
                    <img class="in-img right-img" src="static/img/inst.png">

                    <img class="eye-icon-contact cmd-inst" src="static/img/eye.png">
                    <h1 class="contacts-metrics-data cmd-inst" ng-bind="metrics[0].inst"></h1>
                </div>




            </div>




            <!--<div ng-show="hvrLOGO">-->
                <!--<div class="top-title"><p>FULL STACK</p></div>-->
                <!--<div class="bottom-title"><p>SOFTWARE ENGINEER</p></div>-->
            <!--</div>-->
            <div class="stencil-logo-wrapper"
                 ng-mouseenter="hvrLOGO = true"
                 ng-mouseleave="hvrLOGO = false"
                 ng-class="{'wide-logo-bg': hvrLOGO, 'stencil-logo-wrapper-shift': where == 'bottom'}">
                <div ng-hide="hvrLOGO">
                    <h1 class="name-st a-st" ng-class="{'name-st-shift': where == 'bottom'}">A</h1>
                    <h1 class="name-st n-st" ng-class="{'name-st-shift': where == 'bottom'}">N</h1>
                    <h1 class="name-st d-st" ng-class="{'name-st-shift': where == 'bottom'}">D</h1>
                    <h1 class="name-st y-st" ng-class="{'name-st-shift': where == 'bottom'}">Y</h1>
                </div>

                <div class="hor" ng-class="{'hor-hvr': hvrLOGO}"></div>

                <div class="feng-bg" ng-class="{'feng-bg-hvr': hvrLOGO}"></div>

                <div class="last-n-bg" ng-class="{'ln-ani': hvrLOGO}" ng-show="hvrLOGO">
                    <h1 class="last-name-st a-st" ng-class="{'name-st-shift': where == 'bottom'}">F</h1>
                    <h1 class="last-name-st n-st" ng-class="{'name-st-shift': where == 'bottom'}">E</h1>
                    <h1 class="last-name-st d-st" ng-class="{'name-st-shift': where == 'bottom'}">N</h1>
                    <h1 class="last-name-st y-st" ng-class="{'name-st-shift': where == 'bottom'}">G</h1>
                </div>







                <div class="link-stats-wrapper-page" ng-show="hvrLOGO">
                    <img class="eye-icon-page" src="static/img/eye.png">
                    <h1 ng-bind="metrics[0].page"></h1>
                </div>
            </div>
        </div>




        <div class="intro-wrapper">
            <img class="profile-img rounded" src="static/img/profile_photo.jpg">
            <h1>Full Stack Software Engineer</h1>
            <p>with a passion for building user-centered web
                and mobile applications.
                A designer and creative at heart with a deep appreciation for beautifully designed products and experiences.
            </p>

            <div class="email-wrapper" ngclipboard data-clipboard-text="anndyfeng1@gmail.com" ng-click="email()"
                 ng-class="{'green-bg': copied}">
                <img class="email-icon" src="static/img/em.png">
                <p ng-show="copied">Email copied to clipboard</p>
                <p ng-hide="copied">anndyfeng1@gmail.com</p>
            </div>
            <div class="email-prompt"><h2>click to copy email to clipboard</h2></div>


        </div>


        <div class="projects-title">PROJECTS</div>

        <div class="web-skills-transition0 ">
            <div class="triangle-web-skills0"></div>
            <div class="triangleL-web-skills0"></div>
        </div>



        <div class="projects-wrapper-main">





            <div class="bitworth-project-wrapper"  id="bitworth">
              <img class="bw-bg" src="static/img/bg.png">




              <!-- bw site -->
              <!-- bw site -->
              <!-- bw site -->
              <!-- bw site -->
              <div class="left-wrapper">
                <img class="logo1" src="static/img/bw/logo1.png" alt="">
                <div class="text-wrapper">
                  <h1 class="main-title">BitWorth</h1>
                  <h2 class="tagline-wrapper">Cryptocurrency Net Worth Tracker</h2>
                </div>
                <div class="appstore-wrapper">
                  <img class="appstore" src="static/img/bw/appstore.png" alt="" ng-click="appStore()">
                </div>
              </div>



              <div class="right-wrapper">
                <div class="gif-wrapper">
                  <img id="gif" class="gif" src="static/img/bw/holder.png" alt="loading">
                </div>
              </div>



              <div class="f-right">
                <img class="img-links" src="static/img/bw/ph.svg" alt="" ng-click="ph()">
                <img class="img-links" src="static/img/bw/r.png" alt="" ng-click="r()">
                <img class="img-links" src="static/img/bw/t.svg" alt="" ng-click="t()">
                <img class="img-links" src="static/img/bw/f.svg" alt="" ng-click="f()">
              </div>
              <!-- bw site -->
              <!-- bw site -->
              <!-- bw site -->
              <!-- bw site -->







            </div> <!--end bw-project-->
            <div class="bw-1">
              <div class="web-skills-transition1 ">
                  <div class="triangle-web-skills1"></div>
                  <div class="triangleL-web-skills1"></div>
              </div>
            </div>





            <div class="ios-project-wrapper"  id="wordd">
                <!--<div class="ios-intro">iOS</div>-->
                <img class="phone1-img" src="static/img/phone1.png"  ng-class="{'phone1-img-ani': aniWordd}">


                <img class="wordd-img" src="static/img/wordd.png" ng-class="{'wordd-img-ani': aniWordd}">
                <div class="app-title-text" ng-class="{'app-title-text-ani': aniWordd}">
                    <h1>Wordd.</h1>
                    <h2>Dictionary</h2>
                </div>


                <div class="app-text-1" ng-class="{'app-text-1-ani': aniWordd}">
                    <p>noun</p>
                    <h1>definition:</h1>
                    <h2>The easiest way to look up words on the go.</h2>

                    <h1>example:</h1>
                    <h3>Go download the Wordd App right now!</h3>
                </div>

                <div class="app-text-2" ng-class="{'app-text-2-ani': aniWordd}">
                    <p>tagline</p>

                    <h1>example:</h1>
                    <h3>We have the best words!</h3>
                </div>

                <div class="download-btn">
                    <a href="https://itunes.apple.com/us/app/id1147289887" target="_blank"><img class="app-store-img" src="static/img/app-store.svg"></a>
                </div>
                <div class="download-now">Wordd is free to download and always will be.</div>
            </div> <!--end ios-project-->









            <div class="ios-web-transition">
                <div class="triangle-ios-web"></div>
                <div class="triangleL-ios-web"></div>
            </div>







            <div class="web-project-wrapper">
                <div class="web-intro">Web Projects</div>




                <div class="subman-wrapper"
                     ng-mouseenter="hvrSM = true"
                     ng-mouseleave="hvrSM = false"
                     ng-class="{'hoverSM': hvrSM}" ng-click="sub()">

                    <div class="hg-title" ng-hide="hvrSM">subman.io</div>
                    <div class="sm-inner-wrapper">

                        <img class="sm-logo-grey" src="static/img/sm-stencil-w.png" ng-class="{'sm-logo-grey-hvr': hvrSM}">
                        <img class="sm-logo-color" src="static/img/sm-c.png" ng-class="{'sm-logo-color-hvr': hvrSM}">

                        <div class="subman-hover-wrapper" ng-class="{'subman-hover-wrapper-hvr': hvrSM}">
                            <h1>SUBMAN</h1>
                            <h2>Subscription Management Dashboard</h2>
                            <h3>Subman.io is a free and easy to use web-app that makes it easy to track and manage all your fixed monthly payments.</h3>
                        </div>
                    </div>

                    <div class="link-stats-wrapper" ng-show="hvrSM">
                        <img class="eye-icon" src="static/img/eye.png">
                        <h1 ng-bind="metrics[0].sub"></h1>
                    </div>
                </div>

                <!--<div class="divider1" ng-class="{'div1-static': init == 0, 'div-ani1': init == 1}"></div>-->
                <div class="divider2" ng-class="{'div2-static': init == 0, 'div-ani2': init == 1}"></div>


                <div class="hg-wrapper"
                     ng-mouseenter="hvrHG = true"
                     ng-mouseleave="hvrHG = false" ng-class="{'hoverHG': hvrHG}" ng-click="ham()">

                    <div class="hg-title" ng-hide="hvrHG">hamster.gold</div>
                    <div class="hg-inner-wrapper">

                        <img class="hg-logo-grey" src="static/img/hg-stencil-w.png" ng-class="{'hg-logo-grey-hvr': hvrHG}">
                        <img class="hg-logo-color" src="static/img/hg-c.png" ng-class="{'hg-logo-color-hvr': hvrHG}">

                        <div class="hamster-hover-wrapper" ng-class="{'hamster-hover-wrapper-hvr': hvrHG}">
                            <h1>hamster.</h1>
                            <h2>Multiplayer Browser Adventure</h2>
                            <h3>Hamster.gold is a Pacman based PVP browser game built using MEAN stack technologies and Socket.io</h3>
                        </div>


                    </div>
                    <div class="link-stats-wrapper" ng-show="hvrHG">
                        <img class="eye-icon" src="static/img/eye.png">
                        <h1 ng-bind="metrics[0].ham"></h1>
                    </div>
                </div>
            </div>
        </div> <!--end projects-wrapper-main-->
    </div> <!--end top-wrapper-->



    <div class="web-projects-to-skills-wrapper-transition"></div>
    <div class="web-skills-transition ">
        <div class="triangle-web-skills"></div>
        <div class="triangleL-web-skills"></div>
    </div>


    <div class="skills-wrapper" id="skill">
        <div class="skills-intro-text">SKILLS</div>



        <div class="skill-category-wrapper">
            <div class="skill-category-title">
                <img class="skill-cat-icon" src="static/img/skill/client.png">
                <h1>client</h1>
            </div>

            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani': aniSkill}">
                <img class="skill-icon" src="static/img/skill/html.png">
                <h1>HTML5</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani': aniSkill}">
                <img class="skill-icon" src="static/img/skill/css.png">
                <h1>CSS3</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani': aniSkill}">
                <img class="skill-icon" src="static/img/skill/js.png">
                <h1>Javascript</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani': aniSkill}">
                <img class="skill-icon" src="static/img/skill/jq.png">
                <h1>jQuery</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani': aniSkill}">
                <img class="skill-icon" src="static/img/skill/angular.png">
                <h1>Angular</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani2': aniSkill}">
                <img class="skill-icon" src="static/img/skill/swift.png">
                <h1>Swift</h1>
            </div>

        </div>
        <div class="skill-category-wrapper">
            <div class="skill-category-title">
                <img class="skill-cat-icon" src="static/img/skill/server.png">
                <h1>server</h1>
            </div>

            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani2': aniSkill}">
                <img class="skill-icon" src="static/img/skill/php.png">
                <h1>PHP</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani2': aniSkill}">
                <img class="skill-icon" src="static/img/skill/ror.png">
                <h1>RoR</h1>
            </div>

            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani2': aniSkill}">
                <img class="skill-icon" src="static/img/skill/node.png">
                <h1>Node.js</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani2': aniSkill}">
                <img class="skill-icon" src="static/img/skill/expressjs.png">
                <h1>Express.js</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani2': aniSkill}">
                <img class="skill-icon" src="static/img/skill/socket.png">
                <h1>Socket.io</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani2': aniSkill}">
                <img class="skill-icon" src="static/img/skill/nginx.png">
                <h1>NGINX</h1>
            </div>

        </div>
        <div class="skill-category-wrapper">
            <div class="skill-category-title">
                <img class="skill-cat-icon" src="static/img/skill/db.png">
                <h1>database</h1>
            </div>

            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani3': aniSkill}">
                <img class="skill-icon" src="static/img/skill/mongo.png">
                <h1>MongoDB</h1>
            </div>
            <div class="skill-bubble-wrapper" ng-class="{'skill-bubble-wrapper-ani3': aniSkill}">
                <img class="skill-icon" src="static/img/skill/sql.png">
                <h1>MySQL</h1>
            </div>
        </div>
    </div>



    <div class="education-wrapper" id="edu" ng-class='{ "active": getOffset() > 300 }'>
        <div class="education-intro-text" ng-click="animateEdu()">Education</div>
        <div class="edu-timeline-wrapper">
            <div class="edu-bubble-wrapper edu-left">
                <div class="edu-bubble-bg"></div>
                <img class="de-anza-icon" src="static/img/edu/da.png">
                <h1 class="date1">2008 - 2010</h1>
                <div class="edu-detail-wrapper">
                    <img class="cap-icon-l" src="static/img/edu/robot.png">
                    <h2>DeAnza Engineering Club,<br>President (2009 - 2010)</h2>
                    <div class="div-dot"></div>
                    <h3>Cupertino</h3>
                </div>
            </div>

            <div class="edu-line1"></div>

            <div class="edu-bubble-wrapper edu-mid">
                <div class="edu-bubble-bg usc-bubble"></div>
                <img class="usc-icon" src="static/img/edu/usc.png">
                <h1 class="date1">2010 - 2013</h1>
                <div class="edu-detail-wrapper">
                    <img class="cap-icon" src="static/img/edu/cap.png">
                    <img class="cap-icon" src="static/img/edu/iron.png">
                    <h2>Bachelor of Science,<br>Mechanical Engineering</h2>
                    <div class="div-dot"></div>
                    <h3>Los Angeles</h3>
                </div>
            </div>

            <div class="edu-line2"></div>

            <div class="edu-bubble-wrapper edu-right">
                <div class="edu-bubble-bg"></div>
                <img class="coding-dojo-icon" src="static/img/edu/cd.png">
                <h1 class="date2">2016</h1>
                <div class="edu-detail-wrapper">
                    <img class="cap-icon" src="static/img/edu/belt.png">
                    <img class="cap-icon" src="static/img/edu/belt.png">
                    <img class="cap-icon" src="static/img/edu/belt.png">
                    <img class="cap-icon" src="static/img/edu/belt.png">
                    <h2>Quadruple Black Belt,<br>LAMP - MEAN - RoR - iOS</h2>
                    <div class="div-dot"></div>
                    <h3>Burbank</h3>
                </div>
            </div>

            <!--ANIMATION-->
            <div class="animation-wrapper">
                <div class="animation-dot dot-1" ng-class="{'dot-1-ani': aniEdu}"></div>
                <div class="animation-dot dot-2" ng-class="{'dot-2-ani': aniEdu}"></div>
                <div class="animation-dot dot-3" ng-class="{'dot-3-ani': aniEdu}"></div>
                <div class="animation-line1" ng-class="{'line-1-ani': aniEdu}"></div>
                <div class="animation-line2" ng-class="{'line-2-ani': aniEdu}"></div>
            </div>
        </div>
    </div>



    <div class="edu-exp-transition ">
        <div class="triangle-edu-exp"></div>
        <div class="triangleL-edu-exp"></div>
    </div>
    <div class="exp-wrapper">
        <div class="exp-intro-text">PROFESSIONAL EXPERIENCE</div>
        <div class="exp-bubble">
            <h1>Liquid Animals</h1>
            <h2>Software Engineer</h2>
            <h3>Building out the core product utilizing various web technologies and frameworks</h3>
            <div class="exp-date">
                <h4>Burbank, CA</h4>
                <h4>Jun 2017 - Present</h4>
            </div>
        </div>
        <div class="exp-bubble">
            <h1>Coding Dojo</h1>
            <h2>Instructor</h2>
            <h3>Lead instructor for MEAN, iOS, and Web-Fundamentals tracks</h3>
            <div class="exp-date">
                <h4>Burbank, CA</h4>
                <h4>Sep 2016 - Jun 2017</h4>
            </div>
        </div>
        <div class="exp-bubble">
            <h1>HANHAI STUDIO</h1>
            <h2>Community Development Associate / Website Admin</h2>
            <h3>Designed and maintained a responsive website for a startup whose mission is to act as a bridge between US-Chinese creative and technology companies</h3>
            <h3>Optimized multi-channel marketing strategies including deployment of creative marketing collateral and social media technology to promote community outreach programs </h3>
            <div class="exp-date">
                <h4>Burbank, CA</h4>
                <h4>2015</h4>
            </div>
        </div>
        <div class="exp-bubble">
            <h1>Nomquest</h1>
            <h2>Co-founder</h2>
            <h3>Utilized programming expertise to build a mobile first, restaurant discovery app that gamifies the process of trying new places to eat and rewards users for going to different restaurants</h3>
            <h3>Analyzed the behavior of target users to effectively design a user-friendly interface</h3>
            <h3>Prepared detailed requirement documents to assist in the outsourcing of new features development</h3>


            <div class="exp-date">
                <h4>Los Angeles, CA</h4>
                <h4>2013 - 2015</h4>
            </div>

        </div>

    </div>












    <div class="footer-wrapper">

        <div class="footer-left">

            <h1>© 2017 AF1</h1>


        </div>

        <div class="footer-right">


            <div class="contact">
                <img class="contact-icon" src="static/img/contact.png">
                <img class="line-icon" src="static/img/line.png">
                <h2 class="ct-2">Burbank, CA</h2>
                <h2 class="ct-3">(408) 826-2736</h2>
                <h2 class="ct-4">anndyfeng1@gmail.com</h2>
            </div>


        </div>







    </div>

</body>
</html>
